.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.question-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-container {
  margin-top: 1rem;
  text-align: center;
}